main {
    width: 80%;
    margin: auto;
    background-color: rgb(255, 239, 213);
    padding: 20px;
}

h1 {
    text-align: center;
    color: rgb(25, 25, 112);
}

section {
    margin-top: 20px;
    padding: 10px;
    border-top: 2px solid rgb(25, 25, 112);
}